* {
  font-size: 14px;
}

input {
  text-indent: 1.5em;
}

.fa-magnifying-glass {
  position: absolute;
  top: 10px;
  left: 20px;
}

.fa-gear {
  font-size: 2em;
}

.post-text-side {
  color: rgb(100, 118, 125);
  font-weight: initial;
}

.image-text {
  padding: 0px 7px;
  font-size: 2em;
}
